<!doctype htlml>
<html>
    <head>
        <title>Listas</title>
    </head>
    <body>
        <h1>Listas</h1>
        <hr>
        <h2>Ordenada</h2>
        <ol>
            <li>Primeiro item</li>
            <li>Segundo item</li>
            <li>Terceiro item</li>
        </ol>
        <h2>Não ordenada</h2>
        <ul>
            <li>Vermelho</li>
            <li>Verde</li>
            <li>Amarelo</li>
        </ul>
        <h2>Definição</h2>
        <dl>
            <dt>Caixa</dt>
            <dd>Descrição da caixa</dd>
            <dt>Bola</dt>
            <dd>Descrição da bola</dd>
            <dt>Chapéu</dt>
            <dd>Descrição do chapéu</dd>
        </dl>
    </body>
</html>