<!doctype html>
<html>
    <head>
        <title>Midias</title>
    </head>
    <body>
        <h2>Video</h2>

        <!-- Conteúdo com a mídia "vídeo" -->
        <video src="caminho/link" controls>Seu navegador não possui suporte para este tipo de arquivo</video>
        <hr>
        <h2>Audio</h2>
        
        <!-- Conteúdo com a mídia "áudio" -->
        <audio src="caminho/link" controls autoplay loop>Seu navegador não possui suporte para este tipo de arquivo</audio>
    </body>
</html>