<!doctype html>
<html>
    <head>
        <title>Tabela</title>
    </head>
    <style>
        table{
            border-collapse:collapse;
            border:1px solid;
        }
        table td{
            border: 1px solid;
        }
    </style>
    <body>
        <h1 align="center">Tabela</h1>
        <table align="center">
            <thead>
                <th>Cabeçalho</th>
                <th>da</th>
                <th>tabela</th>
            </thead>
            <tr>
                <td>Primeiro item</td>
                <td>Segundo item</td>
                <td>Terceiro item</td>
            </tr>
            <tfoot>
                <td>Rodapé</td>
                <td>da</td>
                <td>tabela</td>
            </tfoot>
        </table>
    </body>
</html>